.list_table {
  width: 100%;
  background: #fff;
  height: 100%;
  overflow-y: scroll;
}
.list_table::-webkit-scrollbar {
  /*scroll bar overall style*/
  width: 10px;
  height: 100%;
  background: #fff;
  border-radius: 10px;
}
.list_table::-webkit-scrollbar-track {
  /*tracks in scroll bar*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #EDEDED;
}
.list_table::-webkit-scrollbar-thumb {
  /*small squares in scroll bar*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}
.list_table .table_title {
  color: #333;
}
.list_table .table_title:hover {
  color: #1890ff;
}
